<div class="application">
  {{#if this.dataWorker.isLoading}}
    <div>Loading data...</div>
  {{else}}
    <div class={{if this.dataWorker.isLoading "hide-content"}}>
      <div class={{if this.dataWorker.isRootRoute "hide-content"}}>
        <button class="button" {{action "newBattle"}}>Replay</button>
      </div>
      <div class="battle">
        {{outlet}}
      </div>
      <hr>
      <div>
        <div>Please select game type:</div>
        <div class="buttons-group">
          {{#link-to "people" class="button js-button-people"}}
            People
          {{/link-to}}
          {{#link-to "starships" class="button js-button-starships"}}
            Star ships
          {{/link-to}}
        </div>
      </div>
    </div>
  {{/if}}
</div>
